<div *ifViewportSize="'small'">show small</div>
<div *ifViewportSize="'medium'">show medium</div>
<div *ifViewportSize="'large'">show large</div>

<button mat-icon-button (click)="openDialog()">
    <mat-icon>add</mat-icon> Add movie
</button>
<app-search-bar [searchInfo]="searchInfo"></app-search-bar>

<button mat-icon-button #btnDeleteMovie>
        <mat-icon>delete</mat-icon> Delete
    </button>

<mat-card class="example-card">


        <mat-card-content>
            <mat-list>
                <app-movie-item *ngFor="let movie of movieList$ | async" [movie]="movie" (emEditMovie)="editMovie($event)"></app-movie-item>
            </mat-list>
        </mat-card-content>
    <div *ngIf="editingMovie">
        <app-edit-movie [data]='editingMovie'></app-edit-movie> 
    </div>

</mat-card>