<form  >
  <div *ngFor="let qz of quiz; let i=index">
    <h3>
      <b>{{qz.question}}</b> <br>
     
    </h3>
    Ответ:
    <app-quiz-select *ngIf="qz.fieldType == questionType.Select" [qz]="qz"></app-quiz-select>
    <app-quiz-input *ngIf="qz.fieldType == questionType.Text" [qz]="qz"></app-quiz-input>
    Оценка: <app-quiz-estimate [qz]="qz"></app-quiz-estimate>
    Настройки: <app-quiz-field-settings [qz]="qz"></app-quiz-field-settings>
  </div>
    
    <br><br>
    <button type="button" (click)="onSubmit()">Submit</button>
</form>