
<accordion class="user-list">
    <accordion-group *ngFor="let user of users$ | async" [routerLink]="['/users',user.id]"
      [heading]="user.name" [isOpen]="userId == user.id" [panelClass]="active">
      <div *ngIf="userPosts$ | async as posts; else loading">
        <div *ngFor="let post of userPosts$ | async">
          <h3>id: {{post.id}} - {{post.title}}</h3>
          <p>{{post.body}}</p>
        </div>
      </div>
      <ng-template #loading>Loading...</ng-template>
    </accordion-group>

  </accordion>
   