/* .container {
    display: grid;
    grid-template:  25% 100px auto/50% 50%;
    height: 100%;
    grid-template-areas: 
    "header header ";
    grid-gap: 15px 10px;
    place-items: stretch;
    justify-content: start;
}
.container .container-item > a {
    display: grid;
    place-items: stretch;
    grid-template:   50px / 20px auto 30% 30%;
    background: rgb(177, 189, 192);
    &.active {
        animation: spinoffPulse 1s infinite linear;
    }


}
.container .header {
    grid-area: header;
    background: pink;
}
.container div {
} */

